# Allgemeine Einstellungen
server:
  port: 8080
  error:
    include-stacktrace: never
    include-message: never

calculation:
  currency:
    precision: 2
    code: EUR

logging:
  level:
    root: INFO
    web: DEBUG
    org.springframework.web: DEBUG
    de.ars.schulung: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: '*'
        exclude: env

spring:
  # Datasource: H2 im lokalen Verzeichnis ".local-db" (von Versionierung ausgeschlossen)
  datasource:
    url: jdbc:h2:./.local-db/data
    username: app
    password: null
    driverClassName: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-console # http://localhost:8080/h2-console
  jpa:
    generate-ddl: true # create the schema automatically
    show-sql: false
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
  jackson:
    mapper:
      CAN_OVERRIDE_ACCESS_MODIFIERS: true
    deserialization:
      FAIL_ON_UNKNOWN_PROPERTIES: false
